.content {
  position: relative;
  transition: padding 0.4s;
  width:100%;
  padding-left: $main-sidebar-openwidth;

  &.sidebar-closed {
    padding-left: $main-sidebar-closedwidth;
  }

  .container {
    margin: 50px;

    @include break(535px) {
      margin: 20px;
    }
  }

  .controls {
    float: right;
    margin-top: -70px;
  }

}

.align-right {
  text-align: right !important;
}

.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}
