.pagination {
  width: 100%;
  text-align: center;
  padding: 40px 0px;

  li {
    display: inline-block;

    a:hover {
      background: $primary;
      color: #fff;
    }

    &.active > * {
      background-color: $primary;
      color: #fff;
    }

    & > * {
      line-height: 1;
      font-size: 1.1em;
      padding: 10px;
      display: inline-block;
    }

  }

  .disabled {
    display: none;
  }

}