body {
  background: $background-color;
}

.m-bottom {
  margin-bottom: 50px;
}

.page {
  position: relative;
  left: 0;
  width: 100%;
  height: auto;
  transition: padding 0.4s;
  padding-right:$profile-sidebar-openwidth;
  top: $header-height;

  &.sidebar-closed {
      padding-right: $profile-sidebar-closedwidth;
  }
}