.alert-container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  cursor: default;
  font-family: $font;

  .alert-dialog {
    position: absolute;
    display: block;
    min-width: 250px;
    max-width: 50%;
    padding: 0;
    background-color: #fff;
    border-radius: 0;

    .alert-header {
      position: relative;
      width: 100%;
      height: auto;
      min-height: 40px;
      background: $primary;
      padding: 10px 20px;

      .alert-title {
        vertical-align: middle;
        font-size: 20px;
        color: #fff;
      }

      .alert-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: #fff;

        &:hover {
          color: darken(#fff, 10%);
        }
      }
    }

    .alert-body {
      width: 100%;
      height: auto;
      padding: 10px 20px;
    }

    .alert-buttons {
      width: 100%;
      height: auto;
      padding: 10px 20px;

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      li {
        display: inline-block;
        vertical-align: middle;
        float: right;
        margin-left: 10px;
        line-height: 1;
      }

      .alert-button {
        display: block;
        padding: 12px 10px;
        font-size: 16px;
        background: $primary;
        color: #fff;
        line-height: inherit;
      }
    }
  }
}